body{
font-family: Arial;
background:#f49696;
margin:0;
}
header{
background:#da4e94;
color:rgb(107, 6, 97);
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
}
.header-izq{
display:flex;
align-items:center;
gap:20px;
}

.texto-header h1{
margin:0;
}

.texto-header p{
margin:0;
}

.header-der{
display:flex;
gap:15px;
}

.logo{
width:150px;
height:150px;
object-fit:cover;
}



.titulo{
text-align:center;
margin-top:30px;
color:#6b0661;
}

.servicios{
max-width:500px;
margin:auto;
padding:20px;
}

.servicio{
display:flex;
justify-content:space-between;
align-items:center;
background:white;
margin:12px 0;
padding:12px 15px;
border-radius:20px;
box-shadow:0 3px 8px rgba(0,0,0,0.2);
}

.nombre{
font-weight:bold;
}

.precio{
color:#444;
}

.btn-agendar{
background:#ff4081;
color:white;
padding:7px 14px;
border-radius:10px;
text-decoration:none;
font-size:14px;
}

.btn-agendar:hover{
background:#a50783;
}

button{
background:#ff4081;
color:white;
border:none;
padding:10px 20px;
border-radius:8px;
cursor:pointer;
font-size:14px;
margin-top:10px;
}

button:hover{
background:#a50783;
}

/*color del botnes de header*/
.btn-primary{
background-color:#e6008d;
border-color:#e6008d;
color:white;
}

.btn-primary:hover{
background-color:#c40078;
border-color:#c40078;
color:white;
}

/* cuando haces click */
.btn-primary:active{
background-color:#c40078 !important;
border-color:#c40078 !important;
}

/* cuando queda seleccionado */
.btn-primary:focus,
.btn-primary:focus-visible{
background-color:#c40078 !important;
border-color:#c40078 !important;
box-shadow:none !important;
outline:none !important;
}

footer{
height:60px;
font-size:16px;
display:flex;
align-items:center;
justify-content:center;
background:#de4793;
color:white;
}

/* ===== RESPONSIVE HEADER CELULAR ===== */

@media (max-width: 768px){

    header{
        flex-direction: column;
        text-align: center;
        padding:20px;
    }

    .header-izq{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-der{
        margin-top:15px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .logo{
        width:120px;
        height:120px;
    }

    .texto-header h1{
        font-size:22px;
    }

    .texto-header p{
        font-size:14px;
    }
}